@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

:root {
	--instagram-color1: #c3226e;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--webuid-color2);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--instagram-color1);
}

.ant-menu .ant-menu-horizontal .ant-menu-item a:hover {
	color: var(--instagram-color1) !important;

}