.chatPage {
  min-height: calc(100vh - 110px);
  margin: 0px 10px;

  .ant-card-body {
    padding: 0px;

    .ant-tabs-nav-list {
      width: -webkit-fill-available;
      justify-content: space-around;

      .ant-tabs-tab {
        margin: 0px;
        padding: 20px;
      }
    }
  }
}

@media (max-width: 767px) {
  .chatPage {
    margin: 0px;
  }
}

.sendMessage {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;

  .sendMessage__form {
    flex: 1;

    .sendMessage__input {
      width: -webkit-fill-available;
      outline: none;
      height: 40px;
      border-radius: 20px;
      border: 1px solid #ccc;
      padding: 20px;
    }
  }
  .sendMessage__button {
    border: none;
    padding: 0px 20px;
    border-radius: 20px;
    margin-left: 5px;
    cursor: pointer;

    &:focus {
      border: none;
      outline: none;
    }

    &:hover {
      background-color: #bbb;
      color: blueviolet;
    }
  }
}
